.DS_Store
node_modules/*
o-ri


# firebase cache files
.firebase/hosting*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Except eslint
!node_modules/.bin/
!node_modules/eslint/
!node_modules/@vue/
node_modules/@vue/babel-helper-vue-jsx-merge-props
node_modules/@vue/component-compiler-utils
node_modules/@vue/cli-shared-utils
node_modules/@vue/preload-webpack-plugin
